
# design
RewriteEngine On
RewriteBase /jquery-zoomSlider/
RewriteCond %{REQUEST_URI} !/jquery-zoomSlider/dist
RewriteCond %{REQUEST_URI} !/jquery-zoomSlider/git-hook.php
RewriteRule ^(.*)$ dist/$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /jquery-zoomSlider/ [L,R=301]

